@model IEnumerable<DataAccess.EF.Product>
@{
    ViewBag.Title = "Home Page";
}

<table style="width:100%;">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.ProductURL</td>
            <td>@item.Category.CategoryName</td>
        </tr>
    }
</table>