@model IEnumerable<DataAccess.EF.Category>
@{ Layout = null; }

@if (Model != null)
{
    foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("ShopCategory", "Shop", new { id = item.CategoryID, url = item.CategoryURL})">
                @item.CategoryName
            </a>
        </li>
    }
}