@model IEnumerable<DataAccess.EF.Product>

@foreach (var item in Model)
{
    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
        <div class="agile_ecommerce_tab_left mobiles_grid">
            <div>
                <img src="@item.ProductImage" alt=" " class="img-responsive" />
            </div>
            <h5><a href="@Url.Action("single","Home")">@item.ProductName</a></h5>
            <div class="simpleCart_shelfItem">
                <p>
                    <i class="item_price">@item.ProductPrice.ToString("#,##0")</i>
                </p>
                <form action="#" method="post">
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="add" value="1" />
                    <input type="hidden" name="w3ls_item" value="Smart Phone" />
                    <input type="hidden" name="amount" value="245.00" />
                    <button type="submit" class="w3ls-cart">Add to cart</button>
                </form>
            </div>
            <div class="mobiles_grid_pos">
                <h6>New</h6>
            </div>
        </div>
    </div>
}
